name: Rollback Helm Chart

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to rollback to'
        required: true

jobs:
  rollback:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Set up Helm
        uses: azure/setup-helm@v3
        
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      
      - name: Checkout target version
        run: |
          git checkout ${{ github.event.inputs.version }}
      
      - name: Release Chart
        uses: helm/chart-releaser-action@v1.5.0
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Ensure we can republish
          CR_SKIP_EXISTING: "false"
          # Force the version to be considered the latest
          CR_FORCE_UPDATE: "true"